<!DOCTYPE html>
<html lang="en">
<head>
 	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="Matthew Kory" content="">

    <title>Blind Draft - Create a Flight</title>
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" type="text/css" href="../css/main.css">
	<!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <div id="row">
			  <div class="col-sm-1">
			 	<p id="letter1"> BD</p>
			  </div>
			</div>
	      </a>
	    </div>
	  </div>
	</nav>
  	<center>
		<div class="row">
			<div id="main-container" class="col-xs-6 col-xs-offset-3">
				<h1 id="main-title">Blind Draft</h1>
				<h3 class="secondary-title">Create a Flight</h3>
		    		<p>Use the buttons in the section below to add a blank input field for each beer being served. Then, add the beer names in the order you are serving them. <br>Only create as many text fields as you need.</p>
<hr>
<div class="inputs">
      <div><input type="text" class='form-control' name="dynamic[]" class="field" value="Beer 1"></div>
    </div>
<div class="dynamic-form">
  <button id="add" class="btn btn-default navbar-btn">Add</a></button>
  <button id="remove" class="btn btn-default navbar-btn">Remove</a> </button> 
  <button id="reset" class="btn btn-default navbar-btn">Reset</a>  </button>

  <form>
<hr>
<p>Once all beers are listed above click the submit button create your list.</p>
    <input name="submit" onclick ="submit()" type="button" class="submit btn btn-primary btn-block btn-lg" value="Create Flight">
  </form>
			</div>
		</div>
	</center>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>